* {
    margin: 0;
    padding: 0;
}
body{
	background-color:white;
	display: block;
	margin: 0px;
    padding: 0px;
    border-width: 0px;
	min-width: 960px;
	font-family:'doko_sans';
}
header{
	display: block;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
#oblaky{
	display: block;
	max-width:1239px;
	position:absolute;
	left: 50%;
	transform: translatex(-50%);
}
#logo{
	display: block;
	max-width:976px;
	position:absolute;
	top:0;
	padding-top:94px;
	left:50%;
	transform: translatex(-50%);
}
#uvod_nadpis{
	padding-top: 270px;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:24pt;
	font-weight:bold;
}
#uvod{
	padding-top:20px;
	max-width:794px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:22pt;
	font-weight: normal;
}
#buttons{
	display:block;
	width:436px;
	height:29px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	margin-top:57px;
	border-radius:5px;
	background-color: #E5E5E5;
	transition: background-color 0.2s ease;
	position: relative;
}
#main_text, #kronika{
	border: none;
	width:218px;
	position:relative;
	top:0px;
	color: white;
    text-align: center;
    display: inline-block;
	margin-top:2px;
    font-size: 16px;
    cursor: pointer;
	font-size:14pt;
	font-weight: normal;
	font-family:'doko_sans';
	text-transform:uppercase;
}
#kronika{
	border-radius: 0px 5px 5px 0px;
	color: black;
}
#buttons:hover{
	background-color: #CCCCCC;
}
#pozadie{
	background-color: #0050ff;
	width:218px;
	height:29px;
	position:absolute;
	top:0px;
	left:0px;
}
