* {
    margin: 0;
    padding: 0;
}
body{
	background-color:white;
	display: block;
	margin: 0px;
    padding: 0px;
    border-width: 0px;
	width: 100%;
	font-family:'doko_sans';
}
h1{
	font-size:24pt;
	font-weight:bold;
}
h2{
	font-size:22pt;
	font-weight: normal;
}
h3{
	font-size:20pt;
	font-weight: bold;
	margin-bottom:10px;
}
ul{
	padding-left:40px;
}
li{
	font-size:18pt;
	margin:10px 0px 10px 0px;
}
p{
	font-size:18pt;
	margin:10px 0px 10px 0px;
}
i p {
	padding-left: 1.5em;
    text-indent:-1.5em;
}
article{
	display:block;
	margin:50px 0px 50px 0px;
}
article h3 {
	display: inline;
}
article h1{
	margin-bottom:12px;
}
header{
	display: block;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}
#oblaky{
	display: block;
	max-width:1239px;
	position:absolute;
	top:0;
	left: 50%;
	transform: translatex(-50%);
}
#logo{
	display: block;
	max-width:976px;
	position:absolute;
	top:0;
	padding-top:94px;
	left: 50%;
	transform: translatex(-50%);
}
#uvod_nadpis{
	padding-top: 270px;
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}
#uvod{
	padding-top:20px;
	max-width:794px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}
#buttons{
	display:block;
	width:436px;
	height:29px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	margin-top:57px;
	border-radius:5px;
	background-color: #E5E5E5;
	transition: background-color 0.2s ease;
	position: relative;
}
#main_text, #kronika{
	border: none;
	width:218px;
	height:29px;
	position:relative;
	top:0px;
    text-align: center;
    display: inline-block;
	padding-top:3px;
    font-size: 16px;
    cursor: pointer;
	font-size:14pt;
	font-weight: normal;
	font-family:'doko_sans';
	text-transform:uppercase;
	transition: background-color 0.1s, color 0.1s;
	
}
#content{
	display: block;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}
.buttonActive{
	background-color: #0050ff;
	color:white;
}
.obdobia_uvody{
	max-width:750px;
	margin-top:32px;
}
.rok{
	margin-top:10px;
	display: inline-block;
	font-size:24pt;
	font-weight: normal;
	text-decoration: none;
	padding-bottom:10px;
	border-bottom: 3px solid #0050ff;
}
.info{
	max-width:450px;
	margin-top:50px;
}
.info p{
	text-align: justify;
}
.articles{
	max-width:450px;
}
.round{
	width:90px;
	border-radius:50%;
	display: inline;
    position: relative;
    left: -10px;
	float:left;
}
/*

#buttons:hover{
	background-color: #CCCCCC;
}
#pozadie{
	background-color: #0050ff;
	width:218px;
	height:29px;
	position:absolute;
	top:0px;
	left:0px;
}*/
