* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: block;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    width: 100%;
    font-family: 'doko_sans';
    font-weight: normal;

}

h1 {
    font-size: 28px;
    letter-spacing: 0.02em;
    font-family: 'doko_sansblack';
    font-weight: normal;
    color: black;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    color: black;
}

h2 {
    font-size: 22px;
    letter-spacing: 0.04em;
    font-family: 'doko_sansblack';
    font-weight: normal;
    margin-bottom: 10px;
    color: black;
}

ul {
    padding-left: 40px;
}

li {
    font-size: 18px;
    line-height: 1.35;
    margin: 10px 0px 10px 0px;
    color: black;
}

p {
    font-size: 18px;
    line-height: 1.35;
    margin: 10px 0px 10px 0px;
    color: black;
}

i p {
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.noMargin p {
    margin: 0px;
}

.wider p {
    max-width: 500px !important;
}

iframe {
    z-index: -1;
}

article {
    display: block;
    margin: 50px 0px 50px 0px;
}

article h2 {
    display: inline;
}

article h1 {
    margin-bottom: 12px;
}

header {
    display: block;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.gallery img {
    vertical-align: unset;
}

#oblaky {
    z-index: -2;
    display: block;
    max-width: 1239px;
    position: absolute;
    /* top:122px; */
    /* left: 50%; */
    /* transform: translatex(-50%); */
}

#logo {
    display: block;
    max-width: 976px;
    position: absolute;
    top: 0;
    padding-top: 94px;
    left: 50%;
    transform: translatex(-50%);
}

#uvod_nadpis {
    padding-top: 270px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#uvod {
    padding-top: 20px;
    max-width: 794px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#buttons {
    display: block;
    width: 436px;
    height: 29px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    border-radius: 5px;
    background-color: #E5E5E5;
    transition: background-color 0.2s ease;
    z-index: 2;
    /*position: sticky;
    position: -webkit-sticky;
    top: 25px;*/
    position: relative;
    transition: margin-top 0.2s;
}

#buttonsHidden {
    display: none;
    width: 436px;
    height: 29px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    position: relative;
}

#main_text, #kronika {
    border: none;
    width: 218px;
    height: 29px;
    position: relative;
    top: 0px;
    text-align: center;
    display: inline-block;
    /* padding-top:3px; */
    padding-top: 1px;
    font-size: 16px;
    cursor: pointer;
    font-size: 14pt;
    font-weight: normal;
    font-family: 'doko_sans';
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: background-color 0.1s, color 0.1s;

}

#content {
    display: block;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#kronos {
    display: none;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#kron {
    display: block;
    margin: 300px 0px 300px 0px;
    font-size: 28px;
    letter-spacing: 0.02em;
    font-family: 'doko_sansblack';
}

#os {
    display: block;
    float: left;
    width: 55px;
    position: fixed;
    right: 15%;
    top: 50px;
    align-content: center;
    opacity: 0;
}

@media only screen and (max-width: 1700px) {
    #os {
        right: 2%;
    }
}

#os span {
    display: block;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: normal;
    line-height: 27px;
    text-decoration: none;
    color: #e6e6e6;
    text-align: center;
    transition: color 0.2s;
}

.rokyOs a {
    display: block;
    text-decoration: none;
}

.rokyOs {
    display: block;
    margin-bottom: 8px;

}

.colour span {
    color: black !important;
}

.colour .rokHor {
    border-bottom: 3px solid #0050ff !important;
}

.rokHor {
    border-bottom: 3px solid #e6e6e6;
    transition: border-bottom 0.2s;
}

.buttonActive {
    background-color: #0050ff;
    color: white !important;
}

.obdobia_uvody {
    max-width: 750px;
    margin-top: 32px;
    font-size: 34px;
}

.rok {
    margin-top: 10px;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 0.02em;
    font-weight: normal;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 3px solid #0050ff;
    /* width:138px; */
}

.small {
    font-size: 14px;
    line-height: initial;
    margin: 10px 0px 10px 0px;
}

.info {
    max-width: 450px;
    margin-top: 50px;
}

.articles {
    max-width: 960px;
}

.articles p, .articles ul, .articles li, .articles h2, .articles h1 {
    /* margin-left: 0px; */
    /* overflow:auto; */
    /* display:block; */
    max-width: 450px;
}

.media {
    max-width: 510px;
    display: inline;
    float: right;
}

.round {
    width: 90px;
    border-radius: 50%;
    display: inline;
    position: relative;
    left: -30px;
    float: left;
}

.middle {
    display: table-cell;
    height: 90px;
    vertical-align: middle;
    max-width: 350px !important;
}

.rozpravac {
    margin-bottom: 12px;
}

.no-wrap {
    white-space: nowrap;
}

.gallery a img {
    width: 960px;
    padding: 10px;
}

.sticky {
    position: fixed !important;
    margin-top: 25px !important;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    z-index: 2;
}

.fillheight {
    height: 352px !important;
    width: auto;
}

.fillwidth {
    width: 505px;
    height: auto !important;
}

.fillwidthsmall {
    width: 350px;
    height: auto;
}

.medial {
    max-width: 505px;
    float: right;
}

.medial img {
    /* margin:5px; */
}

.noty {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 388px;
}

.noty img {
    display: inline-block;
    height: 550px;
    box-shadow: 2px 5px 15px #AAAAAA;
    z-index: -2;
}

.controls {
    width: 25px;
    height: 25px;
    box-shadow: none !important;
    margin: -8px 5px -8px -15px !important;
    z-index: 1;
}

.kvapla {
    /* transition: transform 0.05s; */
}

#player {
    display: table;
    padding: 6px 0px;
    border-radius: 17px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -15px;
    text-align: center;
    color: white;
    font-size: 16px;
    overflow: hidden;
    z-index: 0;
}

#playery {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 17px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -15px;
    text-align: center;
    color: white;
    font-size: 16px;
    overflow: hidden;
    z-index: 0;
}

.playPauseBtn {
    height: 32px;
    background-color: #002b88;
    /* 003bbb */
    width: 32px;
    border-radius: 16px 0px 0px 16px;
    float: left;
}

.playPauseBtn .controls {
    width: 25px;
    height: 25px;
    margin: 4px !important;
}

#progressText {
    display: inline-block;
    /* pokial nieje border-box */
    /* height:20px; */
    /* padding: 6px 20px 6px 2px; */
    height: 32px;
    padding: 4px 20px 0px 2px;
    border-radius: 0px 16px 16px 0px;
    background-color: transparent;
    position: relative;
    text-align: center;
    color: white;
    font-size: 16px;
    overflow: hidden;
    z-index: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#progress {
    color: #002b88;
    font-size: 12px;
    width: 100%;
    height: 32px;
    border: none;
    background: #0050ff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

progress {
    -webkit-appearance: none;
    width: 100%;
}

progress::-webkit-progress-value {
    background: #002b88;
}

progress::-webkit-progress-bar {
    background: #0050ff;
}

progress::-moz-progress-value {
    background-color: #002b88;
}

::-moz-progress-bar {
    background-color: #002b88;
}

::-ms-progress-value {
    background-color: #002b88;
}

.hudge {
    display: block;
    height: 200px;
    width: 960px;
    font-size: 30px;
    font-weight: bold;
}

.plus-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.alone {
    display: inline-block;
    text-decoration: none;
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.plus:hover {
    opacity: 1;
}

.stred {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#summary {
    display: inline-block;
    max-width: 600px;
    margin-bottom: 10px;
}

#summary p {
    max-width: 600px;
    position: relative;
}

#summary p.collapse:not(.show) {
    height: 46px !important;
    overflow: hidden;
    display: block;
    /* -webkit-line-clamp: 2; */
    /* -webkit-box-orient: vertical;   */
}

#summary p.collapsing {
    min-height: 46px !important;
}

#summary p#collapseSummary:after {
    display: block;
    content: '...';
    width: 0px;
    background: linear-gradient(to left, white 40%, rgba(255, 255, 255, 0));
    position: absolute;
    bottom: -2px;
    right: 0;
    text-align: right;
    overflow: hidden;
    transition: width 0.5s;
}

#summary p#collapseSummary:not(.show):not(.collapsing):after {
    width: 40px;
    transition: width 0.1s;

}

#summary a.collapsed:after {
    content: '+ Čítaj viac';
}

#summary p.show + a:after {
    content: '- Čítaj menej';
}

.collapser {
    float: right;
    margin-top: -10px;
}

.album {
    display: inline-block;
    max-width: 468px;
    max-height: 300px;
}

.album a {
    display: inline-block;
    max-height: 300px;
}

.album img {
    padding: 0 !important;
    max-width: 468px;
    height: auto;
}

.top {
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, .6) 20%, transparent);
    padding: 10px;
    color: white;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, .6) 80%);
    padding: 10px;
    color: white;
}

.citaty {
    margin: 30px auto 0 auto;
    text-align: center;
    width: 600px;
    font-style: italic;
    font-size: 21px;
    white-space: pre-wrap;
}

.song {
    font-style: italic;
    margin-left: 15px;
}

.song-credits {
    text-align: right;
}

/*

#buttons:hover{
	background-color: #CCCCCC;
}
#pozadie{
	background-color: #0050ff;
	width:218px;
	height:29px;
	position:absolute;
	top:0px;
	left:0px;
}*/
